.container {
  padding: 10px;
}
.container__total {
  padding: 0.5rem;
  text-align: center;
  background-color: #a7bfa81c;
}

.container__item  {
    padding: 1rem;
}
.container__img {
    text-align: center;
    padding: 1rem;
}

.container__item_info {
    padding: 1rem;
}
.container__item_info_quantity {
  font-weight: bold;
}
.container__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__checkout,
.button__btn ,
.button__cart {
 color: black;
 padding:0.8rem;
 transition: transform .3s ease;
 -webkit-transition: transform .3s ease;
 -moz-transition: transform .3s ease;
 -ms-transition: transform .3s ease;
 -o-transition: transform .3s ease;
}

.button__checkout:hover,
.button__btn:hover ,
.button__cart:hover {
 color: #80c342
}

.button__btn {
  background: #80c342;
  border: 1px solid #80c342;
  color: white;
  cursor: pointer;
}
.button__btn:hover {
  background: transparent;
  border: 1px solid #80c342;
  color: black;
}
